In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [4]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value =0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

In [7]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ranger = range(15)

In [17]:
ser3.reindex(range(15), method= 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [25]:
dframe = DataFrame(randn(25).reshape((5,5)), 
                   index=['A','B','D','E','F'], 
                   columns=['col1','col2','col3','col4','col5'])

In [26]:
dframe

       col1      col2      col3      col4      col5
A  1.671264  0.608699  0.511441  1.238355  1.306783
B -0.111760  0.780335 -0.454679  1.940544  0.797986
D  0.344667 -2.818954  1.315972  0.623175  1.130167
E  2.043295 -0.104884  0.691580 -0.523387  0.006353
F -2.109914  0.907864  0.703335 -1.157513  0.642507

In [27]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [28]:
dframe2

       col1      col2      col3      col4      col5
A  1.671264  0.608699  0.511441  1.238355  1.306783
B -0.111760  0.780335 -0.454679  1.940544  0.797986
C       NaN       NaN       NaN       NaN       NaN
D  0.344667 -2.818954  1.315972  0.623175  1.130167
E  2.043295 -0.104884  0.691580 -0.523387  0.006353
F -2.109914  0.907864  0.703335 -1.157513  0.642507

In [30]:
new_columns =['col1','col2','col3','col4','col5','col6']

In [31]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A  1.671264  0.608699  0.511441  1.238355  1.306783   NaN
B -0.111760  0.780335 -0.454679  1.940544  0.797986   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.344667 -2.818954  1.315972  0.623175  1.130167   NaN
E  2.043295 -0.104884  0.691580 -0.523387  0.006353   NaN
F -2.109914  0.907864  0.703335 -1.157513  0.642507   NaN

In [32]:
dframe

       col1      col2      col3      col4      col5
A  1.671264  0.608699  0.511441  1.238355  1.306783
B -0.111760  0.780335 -0.454679  1.940544  0.797986
D  0.344667 -2.818954  1.315972  0.623175  1.130167
E  2.043295 -0.104884  0.691580 -0.523387  0.006353
F -2.109914  0.907864  0.703335 -1.157513  0.642507

In [33]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

C:\Users\khj01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\khj01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  1.671264  0.608699  0.511441  1.238355  1.306783   NaN
B -0.111760  0.780335 -0.454679  1.940544  0.797986   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.344667 -2.818954  1.315972  0.623175  1.130167   NaN
E  2.043295 -0.104884  0.691580 -0.523387  0.006353   NaN
F -2.109914  0.907864  0.703335 -1.157513  0.642507   NaN