In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
data = Series(['one','two',np.nan,'four'])

In [4]:
data

0     one
1     two
2     NaN
3    four
dtype: object

In [5]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [33]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])

AttributeError: 'float' object has no attribute 'nan'

In [8]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [9]:
clean_dframe = dframe.dropna()

In [10]:
clean_dframe

     0    1    2
0  1.0  2.0  3.0

In [11]:
dframe.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [13]:
dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [32]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])

AttributeError: 'float' object has no attribute 'nan'