In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
ser1 = Series(np.arange(3),index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int32

In [3]:
ser1 = ser1*2

In [4]:
ser1

A    0
B    2
C    4
dtype: int32

In [5]:
 ser1['A']

0

In [6]:
ser1[1]

2

In [8]:
ser1[0:5]

A    0
B    2
C    4
dtype: int32

In [11]:
ser1[['A','B']]

A    0
B    2
dtype: int32

In [12]:
ser1[ser1>3]

C    4
dtype: int32

In [15]:
ser1[ser1>3] = 10
ser1

A     0
B     2
C    10
dtype: int32

In [18]:
dframe = DataFrame(np.arange(25).reshape((5,5)), index=['MP','GR','SR','CB','GM'],
                  columns=['0','1','2','2','4'])

In [19]:
dframe

     0   1   2   2   4
MP   0   1   2   3   4
GR   5   6   7   8   9
SR  10  11  12  13  14
CB  15  16  17  18  19
GM  20  21  22  23  24

In [21]:
dframe['1']

MP     1
GR     6
SR    11
CB    16
GM    21
Name: 1, dtype: int32

In [23]:
dframe['2']

     2   2
MP   2   3
GR   7   8
SR  12  13
CB  17  18
GM  22  23

In [24]:
dframe[dframe['4']>10 ]

     0   1   2   2   4
SR  10  11  12  13  14
CB  15  16  17  18  19
GM  20  21  22  23  24

In [25]:
dframe > 10

        0      1      2      2      4
MP  False  False  False  False  False
GR  False  False  False  False  False
SR  False   True   True   True   True
CB   True   True   True   True   True
GM   True   True   True   True   True

In [26]:
dframe.ix['SR']

C:\Users\khj01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0    10
1    11
2    12
2    13
4    14
Name: SR, dtype: int32

In [27]:
dframe.ix[1]

C:\Users\khj01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0    5
1    6
2    7
2    8
4    9
Name: GR, dtype: int32