In [1]:
import pandas as pd

In [2]:
# pip install xlrd
#pip install openpyxL

In [3]:
xlsfile = pd.ExcelFile('lec28.xlsx')

In [5]:
dframe = xlsfile.parse('Sheet1')

In [6]:
dframe

   This is a Test  Unnamed: 1  Unnamed: 2
0              12          15          64
1               3         213         684
2               5         231          84
3               5           6         654
4              58          51          45

In [7]:
#check pd docs